body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: rgb(65, 58, 58);
  text-align: center;
  scroll-behavior: smooth;
}

/* Estilo do cabeçalho */
header {
  background-color: #7434db;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header h1 {
  color: #ffffff; /* You can replace this color with your desired color code */
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 1em;
  font-size: 1.2em;
}

/* Estilo do conteúdo principal */
main {
  padding: 2em;
}

.sobre-img img {
  max-width: 800px;
}

.sobre {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 2px;
  text-align: justify;
}

.title {
  color: #7434db;
}

/* Estilo dos links */
.email-item {
  color: #000000;
}

/* Estilo do rodapé */
footer {
  background-color: #7434db;
  padding: 1em 0;
}

/* Estilo do mapa */
#maps {
  margin-top: 2em;
}

/* Estilo dos links no rodapé */
#fatec a img {
  filter: brightness(0) invert(1);
}
/* Reset de estilos para remover margens e preenchimentos padrão */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h5 {
  color: #333;
}

.title {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

article {
  margin-bottom: 20px;
}

#mapa {
  justify-content: center;
  display: flex;
}

#maps {
  margin-top: 20px;
}

header .linha-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 64%;
  list-style: none;
  padding: 0;
}
.linha-menu li {
  display: block;
  margin-left: 2%;
}

.linha-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
#Logo a {
  text-decoration: none;
}

.bloco-texto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.sobre-texto {
  max-width: 50%;
}

section {
  margin: 1em auto;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

picture.sobre-img {
  border-radius: 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
picture svg {
  max-width: 100%;
}
.icons_contato {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 1em auto;
  gap: 10px;
}
.icons_contato picture {
  flex: 1;
  max-width: 50px;
}
@media (max-width: 767.98px) {
  .bloco-texto {
    display: flex;
    flex-direction: column;
  }
  .sobre-texto {
    max-width: 100%;
  }
  header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  header .linha-menu {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: auto;
  }
  .linha-menu li a {
    font-size: 10pt;
    line-height: inherit;
  }
  .linha-menu li {
    margin: auto;
    padding: 5px;
    line-height: normal;
  }
  picture.sobre-img {
    width: 300px;
    height: 300px;
  }
}
